div.img_slide_hotel {
    width: 33.33%;
    float: left;
    padding-left: 15px;
}
div.img_slide_hotel .special-item-inner .btn {
    opacity: 1;
    bottom: 0;
    position: absolute;
}
div.img_slide_hotel .special-item-inner {
    height: 100%;
}
.hotels_spo_all_list {
    margin: 0px 0px 0px -10px;
}